body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, #banner-content {
    background-color: #1F2937;
    color: white;
    margin: 0;
    width: 80%;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: .3rem;
    padding: 8px 24px;
    font-weight: bold;
}

/** HEADER **/

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 0 10rem;
}

#nav-left h2 {
    color: #F9FAF8;
    font-size: 1.5rem;
}

#nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#nav-right a {
    text-decoration: none;
    color: #E6E7EB;
    font-size: 1.125rem;
}

/** BANNER **/

#banner-content {
    margin: 0;
    display: flex;
    padding: 3rem 10rem;
    justify-content: space-between;
}

.banner-container {
    width: 40%;
    margin: 5rem 0;
}

.banner-container h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.banner-right {
    background-color: gray;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right p {
    color: #E5E8EB;
}

/** RANDOM INFO **/

#random-info {
    width: 60%;
    margin: 2rem auto;
}

#random-info h1 {
    text-align: center;
    margin: 2rem 0; 
}

#random-container {
    display: flex;
    justify-content: space-between;
}

.info-container {
    width: 20%;
}

.blue-box { 
    border: 2px solid #3882F6;
    border-radius: .7rem;
    height: 10rem;
}

.info-container p {
    text-align: center;
    color: #4a4a4a;
}

/** QUOTE **/

#quote-content {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 8rem 0;
}

#quote-content h1 {
    font-style: italic;
    font-weight: 100;
    width: 58%;
    margin: auto;
    font-size: 36px;
}

#quote-content p {
    text-align: right;
    width: 58%;
    margin: auto;
    font-weight: bold;
}

/** SIGN UP **/

#sign-up-content {
    width: 50%;
    margin: 4rem auto;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 1rem 4rem;
    border-radius: .5rem;
    display: flex;
}

.sign-up-button {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
}

.sign-up-button button {
    border: 2px solid #E5E7EB;
    height: 2rem;
}

/** FOOTER **/

footer {
    background-color: #1F2937;
    width: 100%;
    color: #E5E7EB;
    height: 3rem;
    text-align: center;
    padding: .1rem 0;
}